<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facture</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-light">
    <div class="container border border-secondary rounded mt-3">
      <div class="row justify-content-between mt-3">
        <div class="col">
          <img
            src="/public/images/default/fd.jpg"
            alt="Votre Logo"
            class="img-fluid"
            width="100"
          />
        </div>

        <div class="col-auto">
          <div class="mx-auto align-items-center d-flex justify-content-center">
            <div
              class="text-center d-inline-block fw-bold fs-6 bg-dark p-1 text-white border border-secondary rounded"
            >
              Contact
            </div>
          </div>

          <p class="mb-0">
            Douala : 69090909 Yaounde : 69090909 Bafoussam : 69090909
          </p>
        </div>
 
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <h4>Initiateur de Livraison</h4>
        </div>
        <div class="col">
          <h4>Informations du Colis</h4>
        </div>
        <div class="col">
          <h4>Informations de Livraison</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="col mb-3">
            <div class="col-4">Nom</div>
            <div class="col-8 fw-bold fs-5">John Doe</div>
          </div>
          <div class="col">
            <div class="col-4">Téléphone</div>
            <div class="col-8 fw-bold fs-5">123456789</div>
          </div>
        </div>
        <div class="col">
          <div class="col mb-3">
            <div class="col-4">Nom du Colis</div>
            <div class="col-8 fw-bold fs-5">Colis A</div>
          </div>
          <div class="col mb-3">
            <div class="col-4">Quantité</div>
            <div class="col-8 fw-bold fs-5">4</div>
          </div>
          <div class="col">
            <div class="col-4">Valeur du Colis</div>
            <div class="col-8 fw-bold fs-5">$150</div>
          </div>
        </div>
        <div class="col">
          <div class="col mb-3">
            <div class="col-4">Ville</div>
            <div class="col-8 fw-bold fs-5">Cityville</div>
          </div>
          <div class="col mb-3">
            <div class="col-4">Lieu de Départ</div>
            <div class="col-8 fw-bold fs-5">pk11</div>
          </div>
          <div class="col mb-3">
            <div class="col-4">Lieu d'Arrivée</div>
            <div class="col-8 fw-bold fs-5">pk12</div>
          </div>
          <div class="col">
            <div class="col-4">Montant de Livraison</div>
            <div class="col-8 fw-bold fs-5">$21</div>
          </div>
        </div>
      </div>
    </div>

    <div class="qrcode text-center mt-3">
      <!-- Code QR ici -->
      <!-- Vous pouvez ajouter le code QR en fonction de votre implémentation -->
    </div>
  </body>
</html>
